<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/Formulario/formulario.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Gestión de <%= nombreTabla %> - Ecultural</title>
</head>
<body>
    <%- include('./partials/header', {pages: pages, isIndex: false, session: session}) %>
    
    <section class="real-section">
        <% if (Object.keys(model).length && !(model == "no existe")) { %>
            <div class="section">

                <div id="conta">
            
            <form action="<%= `/data/${nombreTabla}` %>"  method="POST" autocomplete="off" class="none" id="formDatos">
            
              <div class="container alt-container">
        
                    <legend>Formulario de <%= nombreTabla %></legend>
        
                    <% Object.keys(model).map(key => { %>
                        <% if (Array.isArray(model[key])) { %>
                            <select class="form-input field" name="<%= key %>" id="select-<%= key %>">
                                <option selected disabled value="">Seleccione <%= key %></option>
                                <% model[key].map(item => { %>
                                    <option value="<%= item %>"><%= item %></option>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <input class="form-input field" id="input-<%= key %>" name="<%= key %>" type="<%= model[key] %>" placeholder="<%= `${key.substring(0, 1).toUpperCase()}${key.substring(1)}` %>">
                        <% } %>
                    <% }) %>

                    <% if (!["Administrador"].includes(session.rol)) { %>
                        <button type="button" class="btning boton sub-btn" id="btn-ingresar">INGRESAR</button>
                        <button type="button" class="btneli boton sub-btn" id="btn-eliminar">ELIMINAR</button>
                    <% } %>
                    <button type="button" class="btnact boton sub-btn" id="btn-actualizar">ACTUALIZAR</button>
                    <button type="button" class="btncon boton sub-btn form__button button submit" id="btn-consultar">CONSULTAR</button>
        
                    </div>
            
                  </div>
        
            </form>
            </div>

            
        <% } %>
        <% if (data[0]) { %>
            <table class="table-auto" style="width: 95%;">
                <thead>
                    <tr>
                    <% Object.keys(data[0]).map(item => { %>
                        <th><%= `${item.substring(0, 1).toUpperCase()}${item.substring(1)}` %></th>
                    <% }) %>
                    </tr>
                </thead>
                <tbody>
                    <% data.map(item => { %>
                        <tr>
                            <% Object.keys(item).map(key => { %>
                                <% if (key === "imagen") { %>
                                    <td>
                                        <a href="/img/<%= item.imagen %>" style="display: flex; justify-content: center;">
                                            <img src="/img/<%= item.imagen %>" style="width: 100px;" alt="">
                                        </a>
                                    </td>
                                <% } else if (key === "estado" && session.rol === "Administrador") { %>
                                    <td style="text-align: center;">
                                        <% if (item[key] === "Aceptada") { %>
                                            <%= item[key] %>
                                        <% } else { %>
                                            <select name="estado" id="estado-peticion-<%= item.idPeticion %>" class="estado-peticion" style="display: flex; margin: auto;">
                                                <option value="<%= item[key] %>" selected><%= item[key] %></option>
                                                <% ["Pendiente", "Rechazada", "Aceptada"].filter(opt => opt !== item[key]).map(opt => { %>
                                                    <option value="<%= opt %>"><%= opt %></option>
                                                <% }) %>
                                            </select>
                                        <% } %>
                                    </td>
                                <% } else { %>
                                    <td style="text-align: center;"><%= item[key] %></td>
                                <% } %>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } %>
    </section>
    <% if (Object.keys(model).length && !(model == "no existe")) { %>
        <script src="/js/CRUD/crudUtilities.js"></script>
    <% } %>
    <script src="/js/CRUD/formularioPeticiones.js"></script>
</body>
</html>